body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(50, 30, 110);
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: rgb(244, 236, 236);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
  text-align: center;
}
header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 46px;
  line-height: 1.5;
}
header h3 {
  letter-spacing: 2px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5x;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.4;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(18, 10, 94, 0.8),
      rgba(18, 10, 94, 0.8)
    ),
    url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 20px;
  opacity: 0.9;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  margin: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  padding: 0;
  margin: 20px;
  line-height: 5px;
  font-size: 14px;
}
footer a {
  color: white;
  opacity: 0.7;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}
.project-link {
  font-weight: 600;
  text-align: center;
  color: rgb(236, 220, 220);
}
.github-link {
  font-weight: normal;
  color: rgb(232, 109, 109);
}
.tokyo-main {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.cafe-img {
  width: 100%;
  display: block;
}
.grid-3-columns-cards {
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background: white;
  margin-top: 20px;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-body p {
  font-size: 15px;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.btn {
  display: block;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 16px;
  background-color: rgb(4, 4, 82);
  text-decoration: none;
}
.video {
  width: 100%;
  aspect-ratio: 21 / 9;
  margin: 0 auto;
}

.grid-2-columns-video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
@media (max-width: 1000px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 23px;
  }
  header h3 {
    font-size: 13px;
  }
  header a {
    font-size: 10px;
  }
  .project-link {
    font-size: 13px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
  .grid-2-columns-video {
    grid-template-columns: 1fr;
  }
}
