h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 24px;
  text-align: center;
  margin: 100px auto;
}

footer {
  font-weight: bold;
  text-align: center;
}
.github-link {
  text-decoration: none;
  color: blue;
  font-weight: normal;
}
